<launch>

  <!-- nodelet manager process -->
  <!--node pkg="nodelet" type="nodelet" name="nodelet_manager" output="screen"
        args="manager" /-->

  <!-- dual monocular slam nodelet -->
  <node pkg="dmslam" type="dualmono_nodelet" name="dualmono_nodelet" output="screen" >
        <param name="usingdualslam" type="bool" value="true" />
        <param name="sendvisual" type="bool" value="true" />
	<param name="show_debug_image" type="bool" value="false" />
	<param name="write_pos" type="bool" value="true" />
	<param name="use_artificial_ini" type="bool" value="true" />
	<param name="ini_method" type="string" value="one_circle" />
        <param name="use_ekf" type="bool" value="false" />
        <param name="flying" type="bool" value="true" />

        <param name="trackingpad" type="bool" value="false" />
        
        <param name="image" type="string" value="/downward/camera/image_raw" />
	<param name="imagesec" type="string" value="/forward/camera/image_raw" />
	<param name="cam_imu_file" type="string" value="$(find dmslam)/data/parameter_wrt.txt" />
	<param name="cam_sec_imu_file" type="string" value="$(find dmslam)/data/cam1cam2.txt" />
        <!--param name="cam_sec_imu_file" type="string" value="$(find dmslam)/data/parameter_wrt_second.txt" /-->
        <param name="ref_img_path" type="string" value="$(find dmslam)/data/refpattern12.jpg" />>
	<!--param name="ref_img_path" type="string" value="$(find dmslam)/data/box212.jpg" /-->

    	<param name="settings_file" type="string" value="$(find dmslam)/data/settings-dualmono.cfg" />
    	<param name="camera_type" type="string" value="Polynomial"/>    
	<param name="camera_file" type="string" value="$(find dmslam)/data/firefly-90deg.xml" />
        <param name="camerasec_type" type="string" value="Polynomial"/>
        <param name="camerasec_file" type="string" value="$(find dmslam)/data/firefly-90deg_sec.xml" />

	<!--param name="camera_file" type="string" value="$(env HOME)/data/lab/calib.xml" />-->
	<!--param name="camera_file" type="string" value="$(env HOME)/data/flight1/calib/calib.xml" /-->
  </node>
</launch>
