<launch>

  <!-- set camera parameters to enable synchronisation -->
  <node pkg="flycamsyn" type="flycamsyn" name="flycamsyn" output="screen">
        <param name="guid" value="39466ed1e08c83197ca13172 b315882" type= "string" />
        <param name="video_mode" value="640x480_mono8"/>
        <param name="frame_id" value="downward" />
        <param name="auto_gain" value="3"/>
        <param name="gain" value="1"/>
        <param name="auto_shutter" value="3"/>
        <param name="shutter" value="6" type="int"/>
        <param name="frame_rate" value="60"/>

  <!-- forward camera and associated image pipeline -->
        <param name="guid1" value="69ce2afc 63c313c843971f943245a01" type="string"/>
        <param name="video_mode1" value="640x480_mono8"/>
        <param name="frame_id1" value="forward" />
        <param name="auto_gain1" value="3"/>
        <param name="gain1" value="1"/>
        <param name="auto_shutter1" value="3"/>
        <param name="shutter1" value="3"/>
        <param name="frame_rate1" value="60"/>
  </node>

  <!-- nodelet manager process -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" output="screen"
        args="manager" />

  <!-- downward and forward camera driver nodelet -->
  <node pkg="nodelet" type="nodelet" name="downward"
        args="load camera1394/driver nodelet_manager" >
        <param name="guid" value="00b09d0100a8ccbb" />
        <param name="video_mode" value="640x480_mono8"/>
        <param name="frame_id" value="downward" />
        <param name="gain" value="1"/>
        <param name="frame_rate" value="60"/>
	<param name="use_ros_time" value="true"/>
	<remap from="/camera" to="/downward/camera" />
  </node>

  <node pkg="nodelet" type="nodelet" name="forward"
        args="load camera1394/driver nodelet_manager" >
        <param name="guid" value="00b09d010098efe1" />
        <param name="video_mode" value="640x480_mono8"/>
        <param name="frame_id" value="forward" />
        <param name="gain" value="1"/>
        <param name="frame_rate" value="60"/>
	<param name="use_ros_time" value="true"/>
	<remap from="/camera" to="/forward/camera" />
  </node>

  <!-- dual monocular slam nodelet -->
  <node pkg="nodelet" type="nodelet" name="dualmono_nodelet" output="screen"
	args="load dcslam/dcslamnodelet nodelet_manager" >
        <param name="usingdualslam" type="bool" value="true" />
        <param name="sendvisual" type="bool" value="false" />
        <param name="show_debug_image" type="bool" value="false" />
        <param name="write_pos" type="bool" value="true" />
        <param name="use_artificial_ini" type="bool" value="true" />
        <param name="ini_method" type="string" value="one_circle" />
        <param name="use_ekf" type="bool" value="false" />
        <param name="flying" type="bool" value="true" />

        <param name="trackingpad" type="bool" value="false" />
        
        <param name="image" type="string" value="/downward/camera/image_raw" />
	<param name="imagesec" type="string" value="/forward/camera/image_raw" />
	<param name="cam_imu_file" type="string" value="$(find dcslam)/data/parameter_wrt.txt" />
        <param name="cam_sec_imu_file" type="string" value="$(find dcslam)/data/cam1cam2.txt" />
        <param name="ref_img_path" type="string" value="$(find dcslam)/data/refpattern12.jpg" />>
        <!--param name="ref_img_path" type="string" value="$(find dcslam)/data/box212.jpg" /-->

        <param name="settings_file" type="string" value="$(find dcslam)/data/settings-dualmono.cfg" />
        <param name="camera_type" type="string" value="Polynomial"/>
        <param name="camera_file" type="string" value="$(find dcslam)/data/firefly-90deg.xml" />
        <param name="camerasec_type" type="string" value="Polynomial"/>
        <param name="camerasec_file" type="string" value="$(find dcslam)/data/firefly-90deg_sec.xml" />
	<param name="calib_file" type="string" value="$(find dcslam)/data/firefly_sec.yaml"/>

        <param name="vocabulary_file" type="string" value="$(find dcslam)/data/indoor_voc.yml.gz"/>
        <param name="save_keyframes" type="bool" value="false"/>
        <param name="close_loops" type="bool" value="true"/>

  </node>
</launch>
