<launch>

  <!--include file="$(find simple_landing)/landing.launch" /-->

  <node pkg="ptam" type="mono_landing_node" name="ptam" output="screen">
        <param name="sendvisual" type="bool" value="true" />
	<param name="show_debug_image" type="bool" value="false" />
	<param name="write_pos" type="bool" value="true" />
	<param name="use_artificial_ini" type="bool" value="true" />
	<param name="ini_method" type="string" value="one_circle" />
        <param name="use_ekf" type="bool" value="true" />
        <param name="flying" type="bool" value="true" />

        <param name="trackingpad" type="bool" value="false" />
        
        <param name="image" type="string" value="/camera/image_raw" />
	<param name="cam_imu_file" type="string" value="$(find ptam)/data/parameter_wrt.txt" />
        <param name="ref_img_path" type="string" value="$(find ptam)/data/refpattern12.jpg" />>
	<!--param name="ref_img_path" type="string" value="$(find ptam)/data/box212.jpg" /-->

    <param name="settings_file" type="string" value="$(find ptam)/data/settings-mono.cfg" />
    <param name="camera_type" type="string" value="Polynomial"/>
    
	<param name="camera_file" type="string" value="$(find ptam)/data/firefly-90deg.xml" />
	<!--param name="camera_file" type="string" value="$(env HOME)/data/lab/calib.xml" />-->
	<!--param name="camera_file" type="string" value="$(env HOME)/data/flight1/calib/calib.xml" /-->
  </node>
</launch>
